:root {
  --color-text: var(--mantine-colors-black);
  --color-background: var(--mantine-colors-gray-1);
  --color-hover-text: var(--mantine-colors-white);
  --color-hover-background: var(--mantine-colors-gray-9);
}

/* Define dark theme colors */
body.dark-mode {
  --color-text: var(--mantine-colors-white);
  --color-background: var(--mantine-colors-gray-9);
  --color-hover-text: var(--mantine-colors-black);
  --color-hover-background: var(--mantine-colors-gray-1);
}